
  <%= form_for @wiki do |f| %>
    <% if @wiki.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(@wiki.errors.count, "error") %>.</h4>
      <ul>
        <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class= "col-md-8">
      <%= form_group_tag(@wiki.errors[:title]) do %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter Wiki Title" %>
    <% end %>
      <%= form_group_tag(@wiki.errors[:body]) do %>
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter Wiki Content" %>
      <% end %>
        <% if current_user.can_private? %>
        <div class="form-group">
          <%= f.label :private, class: 'checkbox' do %>
            <%= f.check_box :private %> Private Wiki?
          <% end %>
          <% end %>
        </div>
        <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
        </div>
      </div>
      <div class= 'col-md-4'>
        <div class="form-group">
        <% if @wiki.image? %>
        <%= image_tag(@wiki.image.url ) %>
        <% end %>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image %>
          <%= f.hidden_field :image_cache %>
        </div>
      </div>
        
      <% end %>
    </div>
    