<!DOCTYPE html>
<html>
<head>
  <title>AlohaWiki</title>
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="pull-right user-info">
      <%if current_user %>
        Hello <%= current_user.name || current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>
    <br>

    
      <ul class="nav nav-tabs", role="navigation">
        <li><%= link_to "Home", welcome_index_path %></li>
        <li><%= link_to "About", welcome_about_path %></li>
         </ul>
          
        
      <%= yield %>
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;
            <span class="glyphicon glyphicon-ok" aria-hidden="true">
          </span> 
        </button>
        <%= flash[:notice] %>
      </div>
        <% elsif flash[:error] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;
              <span class="glyphicon glyphicon-remove" aria-hidden="true">
          </span> 
        </button>
      </div>
        <% elsif flash[:alert] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;
              <span class="glyphicon glyphicon-warning-sign " aria-hidden="true">
          </span> 
        </button>
      </div>
    <% end %>        
  </div>






</body>
</html>
