<!DOCTYPE html>
<html>
<head>
  <title>AlohaWiki</title>
  <meta name="viewport" content="width=device-width, intial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs", role="navigation">
        <div class="pull-left">
        <%= link_to welcome_index_path, class: "btn btn-primary btn-sm" do %><span class= "glyphicon glyphicon-home"></span>
        <% end %>
        <% if current_user.present? %>
        <%= link_to wikis_path, class: 'btn btn-primary btn-sm' do %><span class= "glyphicon glyphicon-book"></span>
        <% end %>
        <% end %>
      </div>
        <div class="pull-right">
      <% if current_user %>
      <%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>
        Hello <%= link_to current_user.name, edit_user_registration_path %>!
        <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
        <span class="glyphicon glyphicon-user"></span>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-small' do %>
        <span class="glyphicon glyphicon-log-out"></span>
        <% end %> 
      <% else %>
        <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
  </div>
</ul>
  

      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;
            <span class="glyphicon glyphicon-ok" aria-hidden="true">
          </span> 
        </button>
        <%= flash[:notice] %>
      </div>
        <% elsif flash[:error] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;
              <span class="glyphicon glyphicon-remove" aria-hidden="true">
          </span> 
        </button>
        <%= flash[:error] %>
      </div>
        <% elsif flash[:alert] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;
              <span class="glyphicon glyphicon-warning-sign " aria-hidden="true">
          </span> 
        </button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>        
  </div>
</body>
</html>
